<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.usuario?.avatar}}" />
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario?.nombre}}</h3>
      <h5>{{post.usuario?.email}}</h5>
    </ion-label>
  </ion-item>

  <swiper-container  pagination="true" *ngIf="post.imgs && post.imgs.length > 0" [allowTouchMove]="post.imgs.length > 1">
    <swiper-slide class="image-slide" *ngFor="let img of post.imgs"
      [style]="(img | imagen:post.usuario!._id!) | domSanitizer"
    >
    </swiper-slide>

  </swiper-container>

  <app-mapa *ngIf="post.coords" [coords]="post.coords"></app-mapa>

  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
      {{post.mensaje}}
    </ion-label>
  </ion-item>
</div>
